/**Just added formatting for Hero Banner(probably can be done in index.html)**/
.app-title {
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    background-color: transparent;
    padding: 10px;
  }